.footer{
    position: fixed;
    margin-top: 30%;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    margin-top: 30%;
    background-color: #001f3f;
    color: white;
    font-size: 20px;
    text-align: center;
}
